<?xml version='1.0'?>

<model>
  <name>soccer_ball_size_1</name>

  <version>1.0</version>

  <sdf version='1.6'>soccer_ball_size_1.sdf</sdf>

  <description>
    Soccer ball (size 1)

    This model was created by Blender3D. (CC BY 4.0)
    Changes are in the scale of the model and file conversion.

    Reference
    + [Blender3D](https://sketchfab.com/3d-models/cheap-soccer-ball-9e865bb2fa4c49e8a7e04e02972a8b69)
  </description>
</model>

