<?xml version='1.0'?>

<model>
  <name>darwin_op</name>

  <version>1.0</version>

  <sdf version='1.6'>darwin_op.sdf</sdf>

  <description>
    Darwin-OP model

    Reference
    + [HumaRobotics](https://github.com/HumaRobotics/darwin_description)
    + [ROBOTIS-OP2](https://github.com/ROBOTIS-GIT/ROBOTIS-OP2-Common.git)
  </description>
</model>

