<?xml version='1.0'?>

<model>
  <name>soccer_field</name>

  <version>1.0</version>

  <sdf version='1.6'>soccer_field.sdf</sdf>

  <description>
    Soccer field

    This model was created by tikodev. (CC BY 4.0)
    Changes are in the scale of the model and file conversion.

    Reference
    + [tikodev](https://sketchfab.com/3d-models/soccer-field-4648dead5e1f4c97bcef826e40e6cfbe)
  </description>
</model>

